<section class="inner-banner">
    <img class="img-fluid" src="images/inner-banner-shop.jpg" alt="">
    <div class="inner-banner-cont">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>Shop</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="shop-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 col-lg-3 mb-4">
          <div class="left-sidebar">
            <div class="category-main-wrap">
              <h3 class="sidebar-title">Categories</h3>
              <ul class="left-category-wrap">
                <li class="category-list accordion_list">
                  <h4 class="cat-title accordion_head open"><span class="title">Birthday Gift</span><span
                      class="up-down-wrrow"></span></h4>
                  <ul class="cat-body accordion_body active">
                    <li><a href="#">Gift Basket - Ultimate Size</a></li>
                    <li><a href="#">Faceless Portrait, custom illustration</a></li>
                    <li><a href="#">Personalized Girls jewelry box</a></li>
                    <li><a href="#">Song Plaque With Stand</a></li>
                    <li><a href="#">Embroidery Felt Bookmarks</a></li>
                    <li><a href="#">Birthday gift</a></li>
                  </ul>
                </li>
                <li class="category-list accordion_list">
                  <h4 class="cat-title accordion_head"><span class="title"> Anniversary Gifts </span><span
                      class="up-down-wrrow"></span></h4>
                  <ul class="cat-body accordion_body">
                    <li><a href="#">Gift Basket - Ultimate Size</a></li>
                    <li><a href="#">Faceless Portrait, custom illustration</a></li>
                    <li><a href="#">Personalized Girls jewelry box</a></li>
                    <li><a href="#">Song Plaque With Stand</a></li>
                    <li><a href="#">Embroidery Felt Bookmarks</a></li>
                    <li><a href="#">Birthday gift</a></li>
                  </ul>
                </li>
                <li class="category-list accordion_list">
                  <h4 class="cat-title accordion_head"><span class="title"> Gifting Holidays </span><span
                      class="up-down-wrrow"></span></h4>
                  <ul class="cat-body accordion_body">
                    <li><a href="#">Gift Basket - Ultimate Size</a></li>
                    <li><a href="#">Song Plaque With Stand</a></li>
                    <li><a href="#">Embroidery Felt Bookmarks</a></li>
                    <li><a href="#">Birthday gift</a></li>
                  </ul>
                </li>
                <li class="category-list accordion_list">
                  <h4 class="cat-title accordion_head"><span class="title"> Wedding Gifts </span><span
                      class="up-down-wrrow"></span></h4>
                  <ul class="cat-body accordion_body">
                    <li><a href="#">Gift Basket - Ultimate Size</a></li>
                    <li><a href="#">Embroidery Felt Bookmarks</a></li>
                    <li><a href="#">Birthday gift</a></li>
                  </ul>
                </li>
              </ul>
            </div>

          </div>
        </div>
        <div class="col-12 col-md-8 col-lg-9">
          <div class="row">
            <div class="col-12 mb-3">
              <div class="sort-by-wrap">
                <span>Sort by</span>
                <select>
                  <option>Latest</option>
                  <option>Top Rated</option>
                  <option>Best Sellers</option>
                  <option>Price: Low to High</option>
                  <option>Price: High to Low</option>
                </select>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
              <div class="product-wrap">
                <div class="prd-img">
                  <div class="offer-tag">-20% Off</div>
                  <a href="product-details.html">
                    <img class="img-fluid" src="images/product-img1.jpg" alt="">
                  </a>
                  <div class="product-cart-wishlist">
                    <ul>
                      <li>
                        <a href="#">
                          <i class="fa-regular fa-heart"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa-solid fa-cart-arrow-down"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa-regular fa-eye"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="product-content">
                  <h3><a href="product-details.html">Gift Basket - Ultimate Size</a></h3>
                  <div class="qty">( 2pcs )</div>
                  <div class="price">$20.10 <del>$30.25</del></div>
                  <div class="rating-wrap">
                    <img class="img-fluid" src="images/rating-img.png" alt=""> <span>( 5.2 K Reviews )</span>
                  </div>
                  <div class="shop-btn-wrap">
                    <a class="btn shop-btn" href="product-details.html">Shop Now!</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
              <div class="product-wrap">
                <div class="prd-img">
                  <a href="product-details.html">
                    <img class="img-fluid" src="images/product-img2.jpg" alt="">
                  </a>
                  <div class="product-cart-wishlist">
                    <ul>
                      <li>
                        <a href="#">
                          <i class="fa-regular fa-heart"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa-solid fa-cart-arrow-down"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa-regular fa-eye"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="product-content">
                  <h3><a href="product-details.html">Faceless Portrait, custom illustration</a></h3>
                  <div class="price">$20.10 <del>$30.25</del></div>
                  <div class="rating-wrap">
                    <img class="img-fluid" src="images/rating-img.png" alt=""> <span>( 5.2 K Reviews )</span>
                  </div>
                  <div class="shop-btn-wrap">
                    <a class="btn shop-btn" href="product-details.html">Shop Now!</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
              <div class="product-wrap">
                <div class="prd-img">
                  <div class="offer-tag">-20% Off</div>
                  <a href="product-details.html">
                    <img class="img-fluid" src="images/product-img3.jpg" alt="">
                  </a>
                  <div class="product-cart-wishlist">
                    <ul>
                      <li>
                        <a href="#">
                          <i class="fa-regular fa-heart"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa-solid fa-cart-arrow-down"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa-regular fa-eye"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="product-content">
                  <h3><a href="product-details.html">Personalized Girls jewelry box</a></h3>
                  <div class="qty">( 2pcs )</div>
                  <div class="price">$20.10 <del>$30.25</del></div>
                  <div class="rating-wrap">
                    <img class="img-fluid" src="images/rating-img.png" alt=""> <span>( 5.2 K Reviews )</span>
                  </div>
                  <div class="shop-btn-wrap">
                    <a class="btn shop-btn" href="product-details.html">Shop Now!</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
              <div class="product-wrap">
                <div class="prd-img">
                  <div class="offer-tag">-20% Off</div>
                  <a href="product-details.html">
                    <img class="img-fluid" src="images/product-img4.jpg" alt="">
                  </a>
                  <div class="product-cart-wishlist">
                    <ul>
                      <li>
                        <a href="#">
                          <i class="fa-regular fa-heart"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa-solid fa-cart-arrow-down"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa-regular fa-eye"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="product-content">
                  <h3><a href="product-details.html">Song Plaque With Stand</a></h3>
                  <div class="qty">(4-6 pcs,)</div>
                  <div class="price">$20.10 <del>$30.25</del></div>
                  <div class="rating-wrap">
                    <img class="img-fluid" src="images/rating-img.png" alt=""> <span>( 5.2 K Reviews )</span>
                  </div>
                  <div class="shop-btn-wrap">
                    <a class="btn shop-btn" href="product-details.html">Shop Now!</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
              <div class="product-wrap">
                <div class="prd-img">
                  <a href="product-details.html">
                    <img class="img-fluid" src="images/product-img5.jpg" alt="">
                  </a>
                  <div class="product-cart-wishlist">
                    <ul>
                      <li>
                        <a href="#">
                          <i class="fa-regular fa-heart"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa-solid fa-cart-arrow-down"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa-regular fa-eye"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="product-content">
                  <h3><a href="product-details.html">Embroidery Felt Bookmarks </a></h3>
                  <div class="qty">( 2pcs )</div>
                  <div class="price">$20.10 <del>$30.25</del></div>
                  <div class="rating-wrap">
                    <img class="img-fluid" src="images/rating-img.png" alt=""> <span>( 5.2 K Reviews )</span>
                  </div>
                  <div class="shop-btn-wrap">
                    <a class="btn shop-btn" href="product-details.html">Shop Now!</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
              <div class="product-wrap">
                <div class="prd-img">
                  <div class="offer-tag">-20% Off</div>
                  <a href="product-details.html">
                    <img class="img-fluid" src="images/product-img6.jpg" alt="">
                  </a>
                  <div class="product-cart-wishlist">
                    <ul>
                      <li>
                        <a href="#">
                          <i class="fa-regular fa-heart"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa-solid fa-cart-arrow-down"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa-regular fa-eye"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="product-content">
                  <h3><a href="product-details.html">Birthday gift</a></h3>
                  <div class="price">$20.10 <del>$30.25</del></div>
                  <div class="rating-wrap">
                    <img class="img-fluid" src="images/rating-img.png" alt=""> <span>( 5.2 K Reviews )</span>
                  </div>
                  <div class="shop-btn-wrap">
                    <a class="btn shop-btn" href="product-details.html">Shop Now!</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
              <div class="product-wrap">
                <div class="prd-img">
                  <div class="offer-tag">-20% Off</div>
                  <a href="product-details.html">
                    <img class="img-fluid" src="images/product-img7.jpg" alt="">
                  </a>
                  <div class="product-cart-wishlist">
                    <ul>
                      <li>
                        <a href="#">
                          <i class="fa-regular fa-heart"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa-solid fa-cart-arrow-down"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa-regular fa-eye"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="product-content">
                  <h3><a href="product-details.html">Suede Jewelry Roll</a></h3>
                  <div class="qty">( 6pcs )</div>
                  <div class="price">$20.10 <del>$30.25</del></div>
                  <div class="rating-wrap">
                    <img class="img-fluid" src="images/rating-img.png" alt=""> <span>( 5.2 K Reviews )</span>
                  </div>
                  <div class="shop-btn-wrap">
                    <a class="btn shop-btn" href="product-details.html">Shop Now!</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
              <div class="product-wrap">
                <div class="prd-img">
                  <div class="offer-tag">-20% Off</div>
                  <a href="product-details.html">
                    <img class="img-fluid" src="images/product-img8.jpg" alt="">
                  </a>
                  <div class="product-cart-wishlist">
                    <ul>
                      <li>
                        <a href="#">
                          <i class="fa-regular fa-heart"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa-solid fa-cart-arrow-down"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa-regular fa-eye"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="product-content">
                  <h3><a href="product-details.html">Song Plaque With Stand</a></h3>
                  <div class="qty">(4-6 pcs,)</div>
                  <div class="price">$20.10 <del>$30.25</del></div>
                  <div class="rating-wrap">
                    <img class="img-fluid" src="images/rating-img.png" alt=""> <span>( 5.2 K Reviews )</span>
                  </div>
                  <div class="shop-btn-wrap">
                    <a class="btn shop-btn" href="product-details.html">Shop Now!</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>